* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  color: white;
  background-color: #fff0f5;
}

.navbar ul {
  display: flex;
  align-items: center;
  margin: 2.5rem 5rem;
}

.navbar li {
  display: inline-block;
  list-style-type: none;
  margin: 0 2rem;
  font-weight: 200;
  cursor: pointer;
}

.left-nav-menu {
  background-color: #ef2851;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

#li1 {
  margin-left: 6rem;
}

.login-menu {
  display: flex;
  align-items: center;
  margin-left: 15rem;
}

#login {
  font-size: 1.05rem;
  font-weight: 800;
  background: none;
  border: none;
  color: #ef2851;
}

.signup {
  color: white;
  margin: 0 2.3rem 0 2.3rem;
  background-color: #ef2851;
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 1.5rem;
}

.fa-solid {
  color: rgb(77, 77, 77);
  font-size: 1.7rem;
}

.hero {
  display: flex;
  /* align-items: center; */
  margin-top: 6.2rem;
  margin-left: 10rem;
}

.hero h2 {
  font-size: 3rem;
  /* width: 30rem; */
}

.hero h2 span {
  color: #ef2851;
}

.mission {
  width: 30rem;
}

.entry-text {
  color: #787878;
  /* width: 32rem; */
  font-weight: 400;
  font-size: 0.95rem;
  text-transform: none;
}

.start-btn {
  margin: 0;
  padding: 0.5rem 1rem;
  margin-right: 1.5rem;
  border: 1px solid rgb(146, 146, 146);
}

.hero-btns {
  margin-top: 1.7rem;
}

.know-more {
  background: none;
  border: 1px solid rgb(146, 146, 146);
  /* border: none; */
  padding: 0.5rem 1rem;
  border-radius: 4rem;
  color: #ef2851;
  font-weight: 600;
  transition: all 0.5s;
}

.know-more:hover {
  color: white;
  background-color: #ef2851;
  border: none;
  border-radius: 2rem;
}

.call-us {
  margin-top: 3rem;
}

.round-spans {
  text-align: center;
  color: white;
  display: inline-block;
  font-size: 0.7rem;
  margin-right: 0.8rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #ef2851;
}

.call-us h4 span {
  color: #ef2851;
  margin-right: 0.5rem;
}

.students {
  margin-left: 10rem;
  position: relative;
  bottom: 1rem;
}

.students img {
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 20%;
}
